<div class="py-5 text-center">
	<img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
	<h2>Tempelhofer Feld Voting</h2>
    <p class="lead">To participate in the voting, an eligibility check will be
    performed. You will need a SSI wallet installed on your mobile device,
    configured for IDUnion Ledger and you have already received in the wallet
    credentials issued by the Bundesdruckerei.</p>
    <button class="btn btn-primary btn-lg btn-block" type="button"
        ng-click="join()">Start Here</button>
</div>
