<div class="mt-4">
<div ng-if="!data.votingFinished">
        <button ng-click="castYes()" type="button" class="btn btn-success btn-block">Yes</button>
        <button ng-click="castNo()" type="button" class="btn btn-danger btn-block">No</button>
        <p class="mt-4">{{data.totalvoted}}/{{data.totaleligible}}
        votes have been cast. </p>
        <p>
            <small class="text-muted">
             Your deposit can be refunded after {{data.endVotingPhaseFormatted}} if Ethereum has accepted your encrypted vote.
            </small>
        </p>
</div>
<div ng-if="data.votingFinished">
    You did not cast your encrypted vote in time.
    Your deposit will not be returned.
</div>
</div>

